* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.heading {
  font-weight: bold;
}
.dashboard-box {
  border: 2px solid black;
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
}
.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-search {
  border: 2px solid red;
  width: 240px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: black;
  color: white;
}
.input-search input {
  border: none;
  margin-right: 20px;
  /* background-color: transparent; */
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.dashboard-list {
  margin-top: 40px;
  text-align: left;
  background-color: #5b9bd5;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  padding: 0px 20px 20px 20px;
}
.management-box {
  padding: 20px;
}
.management-box svg {
  font-size: 20px;
  font-weight: bold;
}
.management-box h5 {
  padding-left: 10px;
  color: #5b9bd5;
  font-weight: bold;
  font-size: 30px;
}
.management-box p {
  padding-right: 10px;
  font-weight: bold;
  font-size: 18px;
}
.dashboard-list li {
  padding-top: 20px;
  list-style: none;
}
.side-bar-menu ul li {
  border: 2px solid black;
  list-style: none;
  padding: 30px;
  cursor: pointer;
}
.side-bar-menu ul li svg {
  font-size: 20px;
}
/* Add */
.container-box {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-field {
  width: 45%;
  justify-content: space-between;
}
.input-field input {
  width: 100%;
}


